body {
    text-align: center;
    background-image: url(../images/congruent_pentagon.png);
    background-size: cover;
    font-family: 'Fredericka the Great', cursive;
}

.container {
    background-color: antiquewhite;
    margin-top: 80px;
    padding: 50px;
}

.list-group-item {
    background-color: antiquewhite;
}